html, body {
  min-height: 100%
}
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/travel-background.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-theme {
  background: #212121;
}
header {
  padding: 15px;
}
header .main-title {
  display: block;
  color: #fff;
  font-size: 3rem;
}
header, .login-btn-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.login-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.username span {
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  margin-right: 30px
}
.create-account-btn {
  text-align: right;
  margin-top: 120px;
}
.error-text {
  color: crimson;
}
.success-text {
  color: limegreen;
}
nav {
  padding: 30px 0;
  box-shadow: 10px 0px 10px -3px #999
}
nav ul {
  padding-left: 0;
  list-style-type: none;
}
nav ul li {
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}
nav li a {
  color: #212121;
}
main {
  padding: 30px 15px;
  text-align: center
}
.wrapper > .container {
  background: rgba(255,255,255, 0.7)
}
main h1 {
    margin-bottom: 30px
}
.btn.btn-warning {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
.btn.btn-warning:hover {
    background: none
}
.travel-listing .row {
    margin-bottom: 10px;
    background: rgba(255,255,255, 0.7);
    padding: 0;
}
.travel-listing .row > div {
    padding: 15px;
}
.listing .description-wrapper {
    text-align: left;
}
.listing a:hover {
    text-decoration: none;
}
.listing .info {
    display: flex;
    justify-content: center;
    align-items: center
}
.form-group p, label {
  text-align: left;
  font-weight: bold
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  background: url('./assets/loading.gif') no-repeat center center;
  background-size: cover;
}